@font-face {
  font-family: "iconfont"; /* Project id 3880056 */
  src: url('iconfont.woff2?t=1678034087417') format('woff2'),
       url('iconfont.woff?t=1678034087417') format('woff'),
       url('iconfont.ttf?t=1678034087417') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e607";
}

.icon-liebiao:before {
  content: "\e606";
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-youxuliebiao:before {
  content: "\e611";
}

.icon-zu:before {
  content: "\e613";
}

.icon-duanla:before {
  content: "\e655";
}

.icon-redo:before {
  content: "\e652";
}

.icon-undo:before {
  content: "\e739";
}

.icon-24gf-folderMinus:before {
  content: "\eac7";
}

.icon-yinru:before {
  content: "\e626";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-huishouzhan:before {
  content: "\e7f2";
}

.icon-huidaodingbu:before {
  content: "\e705";
}

.icon-daoru:before {
  content: "\e610";
}

.icon-shoucang:before {
  content: "\e603";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-gengduo2:before {
  content: "\e62f";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-shezhi:before {
  content: "\e8b8";
}

.icon-shijian:before {
  content: "\e8a9";
}

.icon-wenjianjia2:before {
  content: "\e63f";
}

.icon-fanhui1:before {
  content: "\e6f2";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-zhanghu:before {
  content: "\e62b";
}

.icon-xiangyou3fill:before {
  content: "\e777";
}

.icon-bg-left:before {
  content: "\e638";
}

.icon-jia:before {
  content: "\e601";
}

.icon-xiangxia:before {
  content: "\e602";
}

.icon-mobankuangjia:before {
  content: "\e8a7";
}

.icon-jiantou_liebiaozhankai:before {
  content: "\eb04";
}

.icon-xuanzeqizhankai:before {
  content: "\eb15";
}

.icon-24gf-folderPlus:before {
  content: "\eac5";
}

.icon-wendang:before {
  content: "\e99c";
}

.icon-rizhi:before {
  content: "\e604";
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-gengduo:before {
  content: "\e8a6";
}

.icon-wenjianjia1:before {
  content: "\ec17";
}

.icon-kaishi:before {
  content: "\e650";
}

.icon-gengduo1:before {
  content: "\e62d";
}

.icon-kaishi1:before {
  content: "\e617";
}

.icon-touxiang:before {
  content: "\e62c";
}

.icon-kaishi2:before {
  content: "\e800";
}

.icon-lishijilu:before {
  content: "\e6c8";
}

